@import "../styles/variables";

.siteContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.siteHeader {
	background-color: $primary;
	padding: $size0;
	color: white;
	box-shadow: $shadow10px;

	&__container {
		margin: 0 auto;
		max-width: $maxWidth;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__h1 {
		margin: 0;
		font-size: $size4;
		font-weight: 900;
		letter-spacing: -0.05rem;
	}

	&__a {
		text-decoration: none;
		color: $white;
	}

	&__nav {
		margin-top: $size-2;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__link {
			margin-right: $size2;
		}
	}
}

.siteMain {
	flex-grow: 1;
	padding: $size0;
}

.siteFooter {
	font-size: $size0;
	padding: $size-1;

	&__p {
		max-width: $maxWidth;
		width: 100%;
		margin: 0 auto;
	}
}
