@import "./styles/form.scss";
@import "./styles/button.scss";
@import "./styles/typography.scss";
@import "./styles/card.scss";
@import "./styles/table.scss";

body {
	font-family: sofia-pro-soft, sans-serif, ui-sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-weight: 300;
	margin: 0;
	background-color: $white;
	color: $darkestGrey;
	overflow-y: auto !important;
}

.h-100 {
	height: 100%;
}
