@import "./variables.scss";

.button {
	border: none;
	font-weight: 500;
	border-radius: $size6;
	cursor: pointer;
	text-decoration: none;
	z-index: 2;
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform: scale(1);
	padding: $size-3 $size0;
	font-family: inherit;
	display: inline-flex;
	align-items: center;
	font-size: $size1;
	opacity: 1;

	&:disabled {
		opacity: 0.4;
	}

	&__primary {
		background-color: $primary;
		color: $white;
	}

	&__secondary {
		background: $lightGrey;
		color: $darkGrey;
		border: 1px solid $grey;
	}

	&--large {
		font-size: $size2;
		padding: $size-2 $size1;
	}

	&:hover,
	&:focus {
		transform: scale(1.05);
	}

	&--stacked {
		display: block;
		margin-bottom: $size0;
	}
}
