@import "./variables.scss";

.table {
	width: 100%;
	box-shadow: $shadow5px;
	border-radius: $size0;
	margin: $size3 0;
	border-collapse: collapse;
	text-align: left;
	overflow: hidden;

	th,
	td {
		padding: $size0 $size2;
	}

	&__cell--fixedWidth {
		width: 80px;
	}

	&__row {
		transition: 0.2s ease-in-out background-color;
		&--success {
			
		background-color: $paleGreen;
		}
		&--failure {
			
		background-color: $paleRed;
		}
		&--unknown {
			
		background-color: $lightGrey;
		}
	}

}
